python>=3.9
cudatoolkit
matplotlib
numpy
pandas
plotly
pyarrow
scipy
scikit-learn
seaborn
snakemake-minimal
tqdm
ujson
jupyter
ipykernel
ipywidgets
nb_conda_kernels
opt_einsum
stanza
umap-learn
pytorch
conda-forge::transformers
